<servlet>
<servlet-name>ExamServlet</servlet-name>
<servlet-class>ExamServlet</servlet-class></servlet>
<servlet-mapping>
<servlet-name>ExamServlet</servlet-name>
<url-pattern>/ExamServlet</url-pattern>
</servlet-mapping>
<session-config>
<session-timeout>
30
</session-timeout>
</session-config>
<welcome-file-list>
<welcome-file>
index.jsp
</welcome-file>
</welcome-file-list>
</web-app>